<!DOCTYPE html>
<html lang="en"  xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>contact pagee</h1>
    <section>
       <li>

           Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, facilis!
       </li>
       <li>

           Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, facilis!
       </li>
       <li>

           Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, facilis!
       </li>
       <li>

           Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, facilis!
       </li>
       <li>

           Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, facilis!
       </li>
       <li>

           Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, facilis!
       </li>
       <li>

           Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, facilis!
       </li>
       <li>

           Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, facilis!
       </li>
    </section>
</body>
</html>